<%= form_with(model: martian, local: true) do |form| %>
  <% if martian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(martian.errors.count, "error") %> prohibited this martian from being saved:</h2>

      <ul>
      <% martian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :martian_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :martian_age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
