<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @martian.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @martian.age %>
</p>

<%= link_to 'Edit', edit_martian_path(@martian) %> |
<%= link_to 'Back', martians_path %>
