<h1>Listing pets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Weight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pets.each do |pet| %>
  <tr>
    <td><%= pet.name %></td>
    <td><%= pet.weight %></td>
    <td><%= link_to 'Show', [pet.martian, pet] %></td>
    <td><%= link_to 'Edit', edit_martian_pet_path(pet.martian, pet) %></td>
    <td><%= link_to 'Destroy', [pet.martian, pet], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pet', new_martian_pet_path(params[:martian_id]) %>
